.dropbtn {
    width: 8%;
    height: 80%;
    background-color: white;
    text-align: center;
    border: none;
}

/* The container <div> - needed to position the dropup content */
.dropup {
    /* position: relative; */
    /* display: inline-block; */
}

.dropup-content {
    display: none;
    position: absolute;
    bottom: 23px;
    background-color: #f1f1f1;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropup-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {background-color: #ddd}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
    display: block;
}


